.learner-layout {
  display: flex;
  min-height: 100vh;
}

.learner-content {
  flex: 1;
  padding: 30px;
}

.learner-content input {
  width: 500px;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  outline: none;
  font-size: 14px;
}
