.free-page{
  padding: 10px 40px;
}
.free-page h1{
  font-size: 25px;
  font-weight: 600;
}
.free-page .p{
  font-family: "Inter", sans-serif;
  color: #666;
}
.free-course-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 30px auto;
}