.navbar {
  height: 72px;
  display: flex;
  align-items: center;
  padding-right: 20px;
  background: #ffffff;
  border-bottom: 1px solid #eaeaea;
}
.logo {
  width: 36px;
  height: 36px;
  margin-bottom: 15px;
}
.page-name {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #2f62b3;
}

.nav-links {
  display: flex;
  gap: 32px;
  margin-left: auto;
}

.nav-links a,
.nav-links span{
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-size: 15px;
  font-weight: 500;
  color: #666;
}

.nav-links a:hover,
.nav-links span:hover {
  color: #2f62b3;
  cursor: pointer;
}

.nav-actions {
  display: flex;
  gap: 14px;
  margin-left: 32px;
}

.btn-login {
  padding: 8px 18px;
  border: 1.5px solid #2f62b3;
  border-radius: 8px;
  color: #2f62b3;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

.btn-register {
  padding: 8px 18px;
  background: #4f6ef7;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 18px;
}