.page-name {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #2f62b3;
  padding: 5px;
}

.logo {
  width: 50px;
  height: 50px;
}

.form{
    height:738px;
    width: 1550px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.06),
    0 8px 20px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.form-card{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
}

.form-welcome{
    font-family: "Inter",sans-serif;
    font-size: large;
    font-weight: 700;
    font-size: 30px;
}

.form-welcome p{
    font-size: 20px;
    font-weight: 100;
    color:#666;
    padding: 10px;
    transform: translateY(-8px);

}

.form input{
    width:300px;
    height:40px;
    border: 1px solid  #e5e7eb;
    border-radius: 8px;
    padding-left: 10px;
}

.form input:focus{
    outline: none;
}

.form-input-box{
    padding: 10px;
}

.form-forgot{
    color: #4f6ef7;
    font-size: 15px;
    padding: 15px;
}

.form-btn{
    color: #ffffff;
    border-radius: 8px;
    width:300px;
    height:40px;
    background-color:#4f6ef7;
    border: #4f6ef7;
    font-size: 20px;
}

.btn-forgot{
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-decoration: none;
}

a{
   text-decoration: none;
}

.form-register{
   margin-bottom: -20px;
   margin-top: -10px;
   font-family: "Poppins",sans-serif;
   font-size: 15px;
}

.reg-text{
    color: #4f6ef7;
}