.browse-course-card {
    font-family: "Inter" ,sans-serif;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    line-height: 1.6;
}
.course-card-image img{
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  
}
.course-card-body{
    padding: 20px;
}
.course-card-title{
    font-weight: 600;
}
.course-card-module{
    display: flex;
    margin-top: 10px;
    gap: 20px;
}
.course-card-instructor{
    font-size: 14px;
    font-weight: 500;
    color: #111827;
}
.course-card-module{
    font-size: 13px;
    font-weight: 450;
    color: #6b7280;
}
.divider{
    font-size: larger;
    margin-top: -4px;
}
.course-card-tags{
    display: flex;
    gap: 30px;
    margin: 15px 0;
}
.course-card-category,.course-card-level{
    background-color: #EEF2FF;
    padding: 4px 8px;
    border-radius: 14px;
    font-size: 14px;
    color: #4F46E5;
}
.course-card-rating{
    font-weight: 600;
}
.course-card-price{
    font-size: 18px;
}
.course-card-btn{
    margin: 10px 0;
    background-color: #4F46E5;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    font-family: "Inter" ,sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFF;
    cursor: pointer;
}