$font: "Inter", sans-serif;
$bg: #f9fafb;
$white: #ffffff;
$text-dark: #111827;
$text-muted: #6b7280;
$border: #e5e7eb;
$border-input: #d1d5db;
$primary: #2563eb;
$danger: #dc2626;
$secondary-bg: #e5e7eb;
$secondary-text: #374151;

* {
  box-sizing: border-box;
  font-family: $font;
}
.create-course-layout{
  display: flex;
 
}
.create-course-container {
  min-height: 100vh;
  background-color: $bg;
  padding: 24px;
   width: 100%;
}

.create-course-container h2 {
  font-size: 25px;
  font-weight: 700;
  color: $text-dark;
  margin-bottom: 6px;
}

.create-course-container form {
  background-color: $white;
  border: 1px solid $border;
  border-radius: 8px;
  padding: 24px;
  max-width: 900px;
}

.create-course-container label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  color: $text-dark;
}

.create-course-container input,
.create-course-container select {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid $border-input;
  border-radius: 6px;
  font-size: 14px;
  margin-bottom: 18px;
  outline: none;

  &:focus {
    border-color: $primary;
  }
}

.create-course-container input[type="file"] {
  padding: 10px;
  background-color: $bg;
  cursor: pointer;
}

.create-course-container img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid $border;
  margin-top: 10px;
}

.primary-btn {
  background-color: $primary;
  color: $white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.primary-btn:hover {
  opacity: 0.95;
}

.secondary-btn {
  background-color: $secondary-bg;
  color: $secondary-text;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.logout-btn {
  background: none;
  border: none;
  color: $danger;
  cursor: pointer;
}

